@CHARSET "UTF-8";

table.grid {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 20px;
}

table.grid tr td,table.grid tr th {
	border: 1px solid black;
	padding: 2px;
}

.undln {
	border-bottom: 1px solid black;
	padding-left: 10px;
}

.ann {
	text-align: center;
	font-size: 8px;
}

.popup-menu {
	padding: 0px;
}

.popup-menu div {
	max-width: 400px;
	max-height: 400px;
}

.menu-item {
	background-color: white;
	cursor: default;
	padding: 5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.menu-item-disabled {
	color: #CCCCCC;
}

.menu-item-enabled {
	color: black;
}

.menu-item-selected {
	background-color: #CCCCCC;
}

table tr {
	page-break-inside: avoid;
	page-break-after: auto;
}

thead {
	display: table-header-group;
}

tbody {
	display: table-row-group;
}

.nowrap {
	white-space: nowrap;
}

@media all {
	.page-break {
		display: none;
	}
}

@media print {
	.page-break {
		display: block;
		page-break-before: always;
	}
}

.border-bs {
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.vert {
	display: inline-block;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	text-align: left;
	-moz-transform: rotate(-180deg); /* FF3.5+ */
	-o-transform: rotate(-180deg); /* Opera 10.5 */
	-webkit-transform: rotate(-180deg); /* Saf3.1+, Chrome */
}

.flow-margin>* {
	margin: 2px !important;
}